:root {
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 36%);
    --textColor: hsl(240, 8%, 30%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(255, 255, 235);
}

.main {
    width: 100%;
    .secTitle{
        .title{
            position: relative;
            width: max-content;
            color: var(--textColor);
            margin: 1rem 0;
            z-index: 2;
            &::after{
                position: absolute;
                content: '';
                background: var(--SecondaryColor);
                height: 5px;
                width: 120px;
                right: 0;
                bottom: 5px;
                z-index: -1;
                
            }
        }
    }

    .secContent{
        justify-content: center;
        gap :1.5rem;
        .singleDestination{
            height: 100%;
            display: grid;
            row-gap: 10px;
            padding: 1rem;
            border-radius: 10px;
            align-items: center;
            background: var(--cardBG);
            box-shadow: 0 2px 4px rgba(140,140,141,0.549);
            overflow: hidden;

        }

    }
}