:root {
    --primaryColor: hsl(94, 55%, 56%);
    --hoverColor: hsl(93, 75%, 76%);
    --paleGreen: hsl(96, 75%, 89%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --greyText: hsl(0, 0%, 75%);
    --bgColor: hsl(113, 11%, 85%);
    --inputColor: hsl(330, 12%, 97%);
    // --inputColor: hsl(154, 14%, 90%);

    /* Font ang Typography */
    --biggestFontSize: 2.5rem;
    --hlFontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
}
.btn2 {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 0.8rem 1rem;
    color: var(--greyText);
}

.btn2 .icon {
    margin-left: 0.5rem;
}
.btn2:hover {
    color: var(--PrimaryColor);
    background: var(--paleGreen);
}

.loginPage {
    height: 100vh;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 50px rgb(214, 223, 213);
    .container-login {
        height: 75vh;
        width: 60%;
        margin: auto;
        justify-content: space-around;
        border-radius: 10px;
        background: hsl(0, 0%, 91%);

        .videoDivAdmin {
            position: relative;
            display: flex;
            flex-basis: 50%;
            width: 70%;
            height: 100%;
            padding: 0 1.5rem;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            margin: auto;
            border-radius: 10px;
            overflow: hidden;
            video,
            .footerDiv {
                position: absolute;
            }
            video {
                height: 100%;
                width: 100%;
                object-fit: cover;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }

            .textDiv {
                position: relative;
                .title {
                    color: var(--whiteColor);
                    font-size: 35px;
                    font-weight: 800;
                }
                p {
                    color: var(--whiteColor);
                    padding: 1rem;
                    font-weight: 400;
                }
            }
            .footerDiv {
                bottom: 10px;
                padding: 0 1rem;
                height: 60px;
                background: rgba(255, 255, 255, 0.248);
                left: 10px;
                right: 10px;
                justify-content: space-between;
                backdrop-filter: blur(1px);
                border-radius: 10px;
            }
            .text {
                color: var(--primaryColor);
            }
            .btn2,
            Link {
                background: var(--whiteColor);
                color: var(--primaryColor);
                padding: 0.8rem 1.5rem;
                border-radius: 10px;
                font-weight: 400;
                transition: 0.3s ease;

                &:hover {
                    background: var(--hoverColor);
                    color: var(--blackColor);
                }
            }
        }

        .formDiv {
            flex-basis: 50%;
            margin: auto;
            flex-direction: column;
            gap: 1.5rem;
            transform: translateY(-1rem);
            .headerDiv {
                text-align: center;
                padding: 1.5rem 0;
                img {
                    width: 60px;
                    padding-bottom: .5rem;
                }
                h3{
                    font-size: 25px;
                    color:var(--blackColor);
                    font-weight: 600;
                }
            }

            .form{
                gap:1rem;
                .inputDiv{
                    .icon{
                        color:var(--greyText);
                    }
                    input{
                        background: none;
                        outline:none;
                        border:none;
                        width: 200px;

                    }
                    label{
                        color:var(--blackColor);
                        font-weight: 400;
                        font-size: 14px;
                        padding: .5rem 0;
                        display: block;

                    }
                    .input{
                        gap : .5rem;
                        padding: 1rem;
                        background: var(--inputColor);
                        border-radius: 10px;

                    }
                }
                .btn2{
                    padding: .8rem;
                    background: var(--primaryColor);
                    border-radius: 10px;
                    color:var(--whiteColor);
                    align-items: center;
                    margin:auto;
                    justify-content: center;
                    font-size: 16px;
                    width: 100%;
                    gap: .5rem;
                    transition: .3s ease;
                    .icon{
                        font-size: 25px;
                        transition: .3s ease;

                    }
                    &:hover{
                        background: var(--hoverColor);
                        color:var(--blackColor);
                        .icon{
                            color: var(--blackColor);
                            transition: .3s ease;
                        }
                    }

                }
            }
        }
    }
}
